{:kotoba.app/id "cloud.itonami.isic-1622", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreig5iffv2nkzah23rz5nnwuucb7wm3v5nlzimdeaynx3fmdk4jwcpy", :kotoba.app/embed-url "ipfs://bafkreig5iffv2nkzah23rz5nnwuucb7wm3v5nlzimdeaynx3fmdk4jwcpy", :published {:archive "https://kotobase.net/ipfs/bafkreig5iffv2nkzah23rz5nnwuucb7wm3v5nlzimdeaynx3fmdk4jwcpy", :size 72900, :put-status 201, :get-status 200, :at "2026-08-15T13:50:07.531Z"}}
